@if (data().length > 0) {
  <ul class="_data-list">
    @for (item of data(); track item) {
      <li>
        <div class="_details">
          <div class="_summary" style="padding-bottom: 8px;">
            <strong>{{ item.summary }}</strong><br />
            <small>{{ item.start | extractNestedDate | date: 'medium' }}</small>
          </div>
          <!-- ดึงข้อมูล description ของกิจกรรมมาแสดงผลทันทีใน list -->
          @if (item.description) {
            <dl style="margin-top: 8px;">
              <dt>Description (รายละเอียด)</dt>
              <dd [innerHTML]="item.description"></dd>
            </dl>
          }
        </div>
      </li>
    }
  </ul>
} @else {
  <p class="_empty-message">Not Found!!</p>
}
